@model ProdutosApp.Models.Produto

@{
    ViewData["Title"] = "Detalhes";
    Layout = "~/Pages/Shared/_Layout.cshtml";
}

<h1>Produto - Detalhes</h1>
<hr />
<div>
    <table class="table table-bordered table-striped">
        <tbody>
            <tr>
                <th scope="row" class="col-sm-2">Descrição</th>
                <td class="col-sm-10">@Html.DisplayFor(model => model.Descricao)</td>
            </tr>
            <tr>
                <th scope="row" class="col-sm-2">Código EAN</th>
                <td class="col-sm-10">@Html.DisplayFor(model => model.CodigoEAN)</td>
            </tr>
            <tr>
                <th scope="row" class="col-sm-2">URL da Imagem</th>
                <td class="col-sm-10">@Html.DisplayFor(model => model.UrlImagem)</td>
            </tr>
            <tr>
                <th scope="row" class="col-sm-2">Quantidade</th>
                <td class="col-sm-10">@Html.DisplayFor(model => model.Quantidade)</td>
            </tr>
            <tr>
                <th scope="row" class="col-sm-2">Preço</th>
                <td class="col-sm-10">@Html.DisplayFor(model => model.Preco)</td>
            </tr>
        </tbody>
    </table>
</div>

<div>
    <a asp-action="Edit" asp-route-id="@Model?.Id" class="btn btn-primary">Editar</a> |
    <a asp-action="Index" class="btn btn-success">Voltar a listagem</a>
</div>
